# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Temporary files
*.tgz
*.tmp

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
